VITE_API_ENDPOINT=urldeapi.com
VITE_FUNCIONARIO=$VITE_API_ENDPOINT/funcionario/
VITE_SEDE=$VITE_API_ENDPOINT/sede/
VITE_GROUPS=$VITE_API_ENDPOINT/groups/
VITE_PROVEEDOR=$VITE_API_ENDPOINT/proveedor/
VITE_PEDIDO=$VITE_API_ENDPOINT/pedido/
VITE_CATEGORIA=$VITE_API_ENDPOINT/categoria/
VITE_PRODUCTO=$VITE_API_ENDPOINT/producto/
VITE_SERVICIO=$VITE_API_ENDPOINT/servicio/
VITE_SEDE_STOCK=$VITE_API_ENDPOINT/sede/:id/stock
VITE_PATCH_STOCK=$VITE_API_ENDPOINT/producto/stock/:sede/:producto/
VITE_TOKEN=$VITE_API_ENDPOINT/token/
VITE_TOKEN_VERIFY=$VITE_API_ENDPOINT/token/verify/
VITE_TOKEN_GOOGLE=$VITE_API_ENDPOINT/token/google/
VITE_SEDE_STOCK=$VITE_API_ENDPOINT/sede/:id/stock
VITE_PATCH_STOCK=$VITE_API_ENDPOINT/producto/stock/:sede/:producto/

VITE_GOOGLE_CLIENT_ID=clientIdDeGoogle
VITE_GOOGLE_SECRET=clientSecretDeGoogle