/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999 !important;
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal_open {
  animation: openModal 0.2s ease-in-out;
  display: flex;
}

@keyframes openModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  height: auto;
  aspect-ratio: 16/9;
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
}

.small_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;
  height: auto;
  aspect-ratio: 16/9;
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
}
