.container_cards {
  width: 100%;
  height: min-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 4rem;
}

.card {
  text-align: center;
  width: clamp(200px, 20vw, 300px);
  height: 100%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 3px 3px 6px silver;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  transform: scale(1);
  transition: transform 0.2s ease-out, background-color 0.2s ease-out;
}

.card:hover {
  background-color: rgb(229, 228, 228);
  color: black;
}

.card:hover .card_location {
  color: black;
}

.card.active {
  background-color: #565656;
  color: white;
  animation: selected 0.2s linear;
}

.card.active .card_location {
  color: white;
}

.title {
  font-weight: 700;
}
.card_location {
  color: gray;
  font-weight: 500;
  transition: color 0.2s ease-out;
}

@keyframes selected {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
